go 1.24.0

use (
	./apps/desktop
	./apps/local-cli
	./apps/local-latex-compiler
	./apps/remote-latex-compiler
	./packages/go/build
	./packages/go/config
	./packages/go/http
	./packages/go/logging
	./packages/go/security
	./packages/go/signer
	./packages/go/synctex
	./packages/go/validation
)
